spring:
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/shared
  profiles:
    active: native
  application:
    name: codelab-config
      
server:
  port: 8888
  
security:
  user:
    name: ${CODELAB_USER}
    password: ${CODELAB_PASS}
    