spring:
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/shared
  profiles:
    active: native
  application:
    userName: codelab-config-service
      
server:
  port: 20088
  
security:
  user:
    userName: codelab
    password: codelab
    