spring:
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/shared
  profiles:
    active: native
  application:
    name: codelab-config-service
      
server:
  port: 20088
  
security:
  user:
    name: ${CODELAB_USER}
    password: ${CODELAB_PASS}
    